@tailwind base;
@tailwind components;
@tailwind utilities;

.game-container {
  position: relative;
  text-align: center;
}

.game-over-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 10;
}

.score-display {
  position: absolute;
  top: 2vh;
  right: 2vw;
  font-size: 3vh; /* Responsive font size */
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.score-display:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
}

.score-animation {
  font-size: 5vh; /* Make animation size relative */
  color: #4CAF50;
  font-weight: bold;
  animation: pop 0.5s ease-in-out forwards;
  position: absolute;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes pop {
  0% {
    transform: scale(1) translateY(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2) translateY(-20px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 0;
  }
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}